## OS specific ########
.DS_Store
.fuse_hidden*

## Project files ######
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json
sonoff/user_config_override.h
build

## Visual Studio Code specific ######
.vscode
