## OS specific ########
.DS_Store
.fuse_hidden*


## Project files ######
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json
lib/readme.txt
releases/*
!releases/releases.bat
user_config_my.h
user_config_override.h
