# Arduino Library Development file
.development

# Atom
*.tags
*.tags1

# VS Code
.vscode

# Jetbrain IDEs
.idea

# Debug decoder
extras/decoder/log.txt
extras/decoder/out.txt

# Spectrum scan
extras/SX126x_Spectrum_Scan/out/*

# PlatformIO
.pio*

# cmake
build/

# Compote build output
dist
