.pio
build/
sdkconfig.old
**/build/
.ccls-cache
doc/source/xml/
compile_commands.json
examples/mpd_status/main/wifi_config.h
/.idea/
*.kicad_pcb-bak
*.sch-bak
eink_*.h
eink_*.json
fp-info-cache
.cache
__pycache__
examples/weather/components
sdkconfig
