[submodule "hardware/epaper-breakout/esp32-wrover-kicad"]
	path = hardware/epaper-breakout/esp32-wrover-kicad
	url = https://github.com/aliafshar/esp32-wrover-kicad
[submodule "hardware/epaper-breakout/tp4056"]
	path = hardware/epaper-breakout/tp4056
	url = https://github.com/alltheworld/tp4056/
