# C++ objects and libs

*.slo
*.lo
*.o
#*.a
*.la
*.lai
*.so
*.dll
*.dylib

#Makefile
*-build-*
build-*
*.autosave

# .log files (usually created by QtTest - thanks to VestniK)
*.log


# Editors temporary files 
*~


#OSX
.DS_Store
._*
