**/*.o
**/*bin
**/*.swp
**/*.swo
tags
docs/api_doc
scripts/cppcheck_res.txt
scripts/built_in_font/lv_font_*
docs/doxygen_html
docs/xml
docs/out_latex
docs/_static/built_lv_examples
docs/LVGL.pdf
docs/env
out_html
__pycache__
/emscripten_builder
